*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.container {
    width: 35%;
    margin-top: 5%;
}

.x {
    color: white;
    font-size: 18px;
    font-weight: 800;
}

#transaction {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
}